@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #1f1e1f;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 15s linear infinite;
}




.background li:nth-child(0) {
    left: 23%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 10%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 31%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 6s;
}
.background li:nth-child(3) {
    left: 63%;
    width: 173px;
    height: 173px;
    bottom: -173px;
    animation-delay: 1s;
}
.background li:nth-child(4) {
    left: 84%;
    width: 147px;
    height: 147px;
    bottom: -147px;
    animation-delay: 4s;
}
.background li:nth-child(5) {
    left: 32%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 5s;
}
.background li:nth-child(6) {
    left: 2%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 25s;
}
.background li:nth-child(7) {
    left: 17%;
    width: 111px;
    height: 111px;
    bottom: -111px;
    animation-delay: 2s;
}
.background li:nth-child(8) {
    left: 66%;
    width: 112px;
    height: 112px;
    bottom: -112px;
    animation-delay: 17s;
}
.background li:nth-child(9) {
    left: 5%;
    width: 199px;
    height: 199px;
    bottom: -199px;
    animation-delay: 22s;
}